@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .dark-blue {
    color: var(--darkBlue);
  }

  .main-blue {
    color: var(--mainBlue);
  }

  .bg-dark-blue {
    background-color: var(--darkBlue);
  }

  .border-dark-blue {
    border-color: var(--darkBlue);
  }

  .dark-fill {
    fill: var(--darkBlue);
  }

  .stroke-main-blue {
    stroke: var(--mainBlue);
  }

  .bg-main-blue {
    background-color: var(--mainBlue);
  }

  .border-main-blue {
    border-color: var(--mainBlue);
  }

  .bg-light-blue {
    background: var(--lightBlue);
  }

  .primary-font {
    font-family: var(--primaryFont);
  }
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;

  --mainBlue: #55a0fc;
  --lightBlue: #8fc1ff;
  --darkBlue: #0d2253;
  --primaryFont: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body,
.site-container {
  width: 100%;
  height: 100vh;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.services-section {
  background: rgb(169, 208, 255);
  background: -moz-linear-gradient(
    180deg,
    rgba(169, 208, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(169, 208, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(169, 208, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a9d0ff",endColorstr="#ffffff",GradientType=1);
}

.icon-container {
  background: rgb(13, 34, 83);
  background: -moz-linear-gradient(
    135deg,
    rgba(13, 34, 83, 1) 0%,
    rgba(85, 160, 252, 1) 88%
  );
  background: -webkit-linear-gradient(
    135deg,
    rgba(13, 34, 83, 1) 0%,
    rgba(85, 160, 252, 1) 88%
  );
  background: linear-gradient(
    135deg,
    rgba(13, 34, 83, 1) 0%,
    rgba(85, 160, 252, 1) 88%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d2253",endColorstr="#55a0fc",GradientType=1);
}
